In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
df1 = pd.read_csv('202301_KRW-BTC_ohlcv.csv', index_col = 'index')
df2 = pd.read_csv('202302_KRW-BTC_ohlcv.csv', index_col = 'index')
df3 = pd.read_csv('202303_KRW-BTC_ohlcv.csv', index_col = 'index')
df4 = pd.read_csv('202304_KRW-BTC_ohlcv.csv', index_col = 'index')
df5 = pd.read_csv('202305_KRW-BTC_ohlcv.csv', index_col = 'index')
df6 = pd.read_csv('202306_KRW-BTC_ohlcv.csv', index_col = 'index')
df7 = pd.read_csv('202307_KRW-BTC_ohlcv.csv', index_col = 'index')
df8 = pd.read_csv('202308_KRW-BTC_ohlcv.csv', index_col = 'index')

In [3]:
df_2023 = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8])

In [4]:
df_2023.drop(['value'], axis=1, inplace=True)

In [5]:
df_2023['mid_price'] = df_2023['high']/2 + df_2023['low']/2

In [6]:
df_2023.head()

,open,high,low,close,volume,mid_price
index,,,,,,
2023-01-01 09:00:00,21079000.0,21082000.0,21061000.0,21081000.0,4.852014,21071500.0
2023-01-01 09:01:00,21080000.0,21080000.0,21061000.0,21061000.0,2.099329,21070500.0
2023-01-01 09:02:00,21062000.0,21062000.0,21055000.0,21062000.0,2.486127,21058500.0
2023-01-01 09:03:00,21057000.0,21078000.0,21055000.0,21064000.0,1.744549,21066500.0
2023-01-01 09:04:00,21063000.0,21077000.0,21056000.0,21064000.0,1.433399,21066500.0

In [7]:

df_2023['7min_MA'] = df_2023['mid_price'].rolling(window=7).mean()
df_2023['25min_MA'] = df_2023['mid_price'].rolling(window=25).mean()
df_2023['99min_MA'] = df_2023['mid_price'].rolling(window=90).mean()

df_2023['7_ema'] = df_2023['mid_price'].ewm(span=7, adjust=False).mean()
df_2023['25_ema'] = df_2023['mid_price'].ewm(span=25, adjust=False).mean()
df_2023['99_ema'] = df_2023['mid_price'].ewm(span=90,adjust=False).mean()

In [8]:
df_2023 = df_2023.fillna(0)
df_2023.columns

Index(['open', 'high', 'low', 'close', 'volume', 'mid_price', '7min_MA',
       '25min_MA', '99min_MA', '7_ema', '25_ema', '99_ema'],
      dtype='object')

In [9]:
import pandas as pd
import numpy as np


# 변화율 계산 (pct_chg 사용)
df_2023['open_pct_chg'] = df_2023['open'].pct_change()
df_2023['high_pct_chg'] = df_2023['high'].pct_change()
df_2023['low_pct_chg'] = df_2023['low'].pct_change()
df_2023['close_pct_chg'] = df_2023['close'].pct_change()
df_2023['volume_pct_chg'] = df_2023['volume'].pct_change()
df_2023['mid_price_pct_chg'] = df_2023['mid_price'].pct_change()
df_2023['7min_MA_pct_chg'] = df_2023['7min_MA'].pct_change()
df_2023['25min_MA_pct_chg'] = df_2023['25min_MA'].pct_change()
df_2023['99min_MA_pct_chg'] = df_2023['99min_MA'].pct_change()
df_2023['7_ema_pct_chg'] = df_2023['7_ema'].pct_change()
df_2023['25_ema_pct_chg'] = df_2023['25_ema'].pct_change()
df_2023['99_ema_pct_chg'] = df_2023['99_ema'].pct_change()

# 60분 동안의 데이터 추출
df_60min = df_2023.rolling(window=60).mean()

# 필요한 컬럼 선택
selected_columns = df_2023.columns
df_selected = df_60min[selected_columns]

In [10]:
import numpy as np
from tqdm import tqdm

# 주어진 데이터프레임
df = df_60min.iloc[180:]

sequence_length = 64
n_samples = len(df) - sequence_length + 1

# Extract the data as a NumPy array
data_array = df[selected_columns].to_numpy()

# Create an empty array to store the input sequences
input_sequences = np.empty((n_samples, len(selected_columns), sequence_length))

for i in tqdm(range(n_samples)):
    input_seq = data_array[i:i + sequence_length, :].T  # Transpose to have (24, 60) shape
    input_sequences[i] = input_seq

print(input_sequences.shape)

100%|██████████| 344195/344195 [00:01<00:00, 255463.63it/s]

(344195, 24, 64)

In [11]:
(input_sequences[1][5])

array([21118833.33333333, 21119391.66666667, 21119950.        ,
       21120483.33333333, 21120850.        , 21121133.33333333,
       21121316.66666667, 21121483.33333333, 21121550.        ,
       21121541.66666667, 21121491.66666667, 21121450.        ,
       21121275.        , 21121125.        , 21120908.33333333,
       21120616.66666667, 21120241.66666667, 21119825.        ,
       21119433.33333333, 21119041.66666667, 21118575.        ,
       21117883.33333333, 21117250.        , 21116666.66666667,
       21116166.66666667, 21115750.        , 21115108.33333333,
       21114558.33333333, 21113983.33333333, 21113325.        ,
       21112675.        , 21112108.33333333, 21111533.33333333,
       21110975.        , 21110291.66666667, 21109533.33333333,
       21108958.33333333, 21108400.        , 21107866.66666667,
       21107316.66666667, 21106750.        , 21106241.66666667,
       21105850.        , 21105508.33333333, 21105275.        ,
       21104916.66666667, 21104633.33333333, 21104308.33333333,
       21103900.        , 21103416.66666667, 21102966.66666667,
       21102625.        , 21102250.        , 21101883.33333333,
       21101550.        , 21101258.33333333, 21100966.66666667,
       21100675.        , 21100391.66666667, 21100133.33333333,
       21099966.66666667, 21099758.33333333, 21099541.66666667,
       21099350.        ])

In [13]:
(df_60min.iloc[180+sequence_length-1:].index).to_frame().to_csv("train_data_2023_3D_index.csv")

In [14]:
with open('train_data_2023_3D.pkl', 'wb') as f:
    pickle.dump(input_sequences, f)

In [15]:
with open('train_data_2023_3D.pkl', 'rb') as f:
    df = pickle.load(f)

In [16]:
df.shape

(344195, 24, 64)