<a href="https://colab.research.google.com/github/donghui-0126/mini-project/blob/main/shoes-project/resell_regressor/img_CNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
pip install Pillow

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: Pillow in /usr/local/lib/python3.8/dist-packages (7.1.2)

In [3]:
pip install opencv-python

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: opencv-python in /usr/local/lib/python3.8/dist-packages (4.6.0.66)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from opencv-python) (1.21.6)

In [4]:
from PIL import Image
import cv2
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from sklearn.linear_model import LinearRegression
import warnings
from sklearn.decomposition import PCA
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import KFold


warnings.filterwarnings('ignore')

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
df = pd.read_csv('/content/drive/MyDrive/kream_data/product_data_dpp.csv')
df.head(3)

,Unnamed: 0,product_id,img_path,brand,name,color1,color2,price_og,price_resell,n_scrap,+price,tokenized_color,tokenized_bn,drive_img_path,pixel
0,0,28029,crawling\product_crawling\image\28029.jpg,Nike,Nike Dunk Low Retro Black,WHITE,BLACK,129000,152800,123000.0,23800,[0 0 0 0 0 0 0 0 0 0 2 4 3 5],[ 0 0 0 0 0 0 0 0 0 0 0 0 0 2 4 ...,/content/drive/MyDrive/kream_data/image/28029.jpg,[[0 0 0 ... 0 0 0]\n [0 0 0 ... 0 0 0]\n [0 0 ...
1,1,12831,crawling\product_crawling\image\12831.jpg,Nike,Nike Air Force 1 '07 Low White,WHITE,WHITE,139000,136200,151000.0,-2800,[0 0 0 0 0 0 0 0 0 0 2 4 3 4],[ 0 0 0 0 0 0 0 0 0 0 0 2 4 3 4 ...,/content/drive/MyDrive/kream_data/image/12831.jpg,[[255 255 255 ... 255 255 255]\n [255 255 255 ...
2,2,21935,crawling\product_crawling\image\21935.jpg,Nike,Nike Air Force 1 '07 WB Flax,FLAX,GUM,169000,173200,69000.0,4200,[ 0 0 0 0 0 0 0 0 0 0 2 82 3 51],[ 0 0 0 0 0 0 0 0 0 ...,/content/drive/MyDrive/kream_data/image/21935.jpg,[[255 255 255 ... 255 255 255]\n [255 255 255 ...

In [7]:
drive_img_path_list = []

for index,data in enumerate(df['img_path']):
    drive_img_path = "/content/drive/MyDrive/kream_data/image/" + (data.split("\\")[-1])
    drive_img_path_list.append(drive_img_path)

In [8]:
df["drive_img_path"] = drive_img_path_list

In [9]:
df.head(3)

,Unnamed: 0,product_id,img_path,brand,name,color1,color2,price_og,price_resell,n_scrap,+price,tokenized_color,tokenized_bn,drive_img_path,pixel
0,0,28029,crawling\product_crawling\image\28029.jpg,Nike,Nike Dunk Low Retro Black,WHITE,BLACK,129000,152800,123000.0,23800,[0 0 0 0 0 0 0 0 0 0 2 4 3 5],[ 0 0 0 0 0 0 0 0 0 0 0 0 0 2 4 ...,/content/drive/MyDrive/kream_data/image/28029.jpg,[[0 0 0 ... 0 0 0]\n [0 0 0 ... 0 0 0]\n [0 0 ...
1,1,12831,crawling\product_crawling\image\12831.jpg,Nike,Nike Air Force 1 '07 Low White,WHITE,WHITE,139000,136200,151000.0,-2800,[0 0 0 0 0 0 0 0 0 0 2 4 3 4],[ 0 0 0 0 0 0 0 0 0 0 0 2 4 3 4 ...,/content/drive/MyDrive/kream_data/image/12831.jpg,[[255 255 255 ... 255 255 255]\n [255 255 255 ...
2,2,21935,crawling\product_crawling\image\21935.jpg,Nike,Nike Air Force 1 '07 WB Flax,FLAX,GUM,169000,173200,69000.0,4200,[ 0 0 0 0 0 0 0 0 0 0 2 82 3 51],[ 0 0 0 0 0 0 0 0 0 ...,/content/drive/MyDrive/kream_data/image/21935.jpg,[[255 255 255 ... 255 255 255]\n [255 255 255 ...

In [10]:
# pixel_list = []
# for n,url in enumerate(df['drive_img_path']):
#     img_name = (url)
#     im = Image.open(img_name)
#     pix = np.array(im)

#     print("\r{}".format(n), end="")

#     pixel_list.append(pix)
# df['pixel'] = pixel_list

In [11]:
df["pixel"].head()

0    [[0 0 0 ... 0 0 0]\n [0 0 0 ... 0 0 0]\n [0 0 ...
1    [[255 255 255 ... 255 255 255]\n [255 255 255 ...
2    [[255 255 255 ... 255 255 255]\n [255 255 255 ...
3    [[255 255 255 ... 255 255 255]\n [255 255 255 ...
4    [[255 255 255 ... 255 255 255]\n [255 255 255 ...
Name: pixel, dtype: object

In [12]:
df.head(3)

,Unnamed: 0,product_id,img_path,brand,name,color1,color2,price_og,price_resell,n_scrap,+price,tokenized_color,tokenized_bn,drive_img_path,pixel
0,0,28029,crawling\product_crawling\image\28029.jpg,Nike,Nike Dunk Low Retro Black,WHITE,BLACK,129000,152800,123000.0,23800,[0 0 0 0 0 0 0 0 0 0 2 4 3 5],[ 0 0 0 0 0 0 0 0 0 0 0 0 0 2 4 ...,/content/drive/MyDrive/kream_data/image/28029.jpg,[[0 0 0 ... 0 0 0]\n [0 0 0 ... 0 0 0]\n [0 0 ...
1,1,12831,crawling\product_crawling\image\12831.jpg,Nike,Nike Air Force 1 '07 Low White,WHITE,WHITE,139000,136200,151000.0,-2800,[0 0 0 0 0 0 0 0 0 0 2 4 3 4],[ 0 0 0 0 0 0 0 0 0 0 0 2 4 3 4 ...,/content/drive/MyDrive/kream_data/image/12831.jpg,[[255 255 255 ... 255 255 255]\n [255 255 255 ...
2,2,21935,crawling\product_crawling\image\21935.jpg,Nike,Nike Air Force 1 '07 WB Flax,FLAX,GUM,169000,173200,69000.0,4200,[ 0 0 0 0 0 0 0 0 0 0 2 82 3 51],[ 0 0 0 0 0 0 0 0 0 ...,/content/drive/MyDrive/kream_data/image/21935.jpg,[[255 255 255 ... 255 255 255]\n [255 255 255 ...

In [13]:
# df.to_csv("/content/drive/MyDrive/kream_data/product_data_dpp.csv")

In [14]:
# df = pd.read_csv("/content/drive/MyDrive/kream_data/product_data_dpp.csv")

In [15]:
# pixel_data= np.array(df["pixel"])

In [16]:
# pixel_data.shape

In [17]:
# pixel = np.concatenate(pixel_data, axis=0).reshape((6103,256,256,1))

In [18]:
# pixel.shape

In [19]:
# np.save('/content/drive/MyDrive/kream_data/pixel_data', pixel)

In [20]:
pixel = np.load('/content/drive/MyDrive/kream_data/pixel_data.npy')
pixel.shape

(6103, 256, 256, 1)

In [21]:
pixel = pixel/255.

In [22]:
pixel = pixel.astype('float32')

In [23]:
df['price_resell'] /= 10000

In [24]:
from keras.models import Sequential
from keras.layers import Conv2D, Activation, MaxPooling2D, Flatten, Dense, Dropout


# kfold = KFold(n_splits=5, shuffle=True)

# input_shape=(256,256, 1)

# model1_error = []
# model2_error = []
# model3_error = []

# for train_index, test_index in kfold.split(pixel):
#     train_X, train_y, test_X, test_y = pixel[train_index],df['price_resell'].iloc[train_index],\
#                                             pixel[test_index], df['price_resell'].iloc[test_index]
    
#     print(train_X.shape)
#     print(train_y.shape)
#     print(test_X.shape)
#     print(test_y.shape)
#     model1 = Sequential()
#     model1.add(Conv2D(32, (3, 3), input_shape=input_shape))
#     model1.add(Activation('relu'))
#     model1.add(MaxPooling2D(pool_size=(2, 2)))

#     model1.add(Conv2D(32, (3, 3)))
#     model1.add(Activation('relu'))
#     model1.add(MaxPooling2D(pool_size=(2, 2)))

#     model1.add(Conv2D(64, (3, 3)))
#     model1.add(Activation('relu'))
#     model1.add(MaxPooling2D(pool_size=(2, 2)))

#     model1.add(Flatten())
#     model1.add(Dense(64))
#     model1.add(Activation('relu'))
#     model1.add(Dropout(0.5))
#     model1.add(Dense(1))

#     sgd = keras.optimizers.SGD(learning_rate=0.001)    
#     model1.compile(optimizer= sgd, loss=tf.keras.losses.Huber(delta=50000))
#     model1.fit(train_X, train_y, epochs=20, validation_data=(test_X,test_y))

#     pred1 = model1.predict(test_X)
#     mse1 = mean_squared_error(pred1, test_y, squared=False) 

# print(f"MSE:{np.mean(model1_error)}")

In [25]:
# model1 = Sequential()

# input_shape=(256,256, 1)

# model1.add(Conv2D(32, (3, 3), input_shape=input_shape))
# model1.add(Activation('relu'))
# model1.add(MaxPooling2D(pool_size=(2, 2)))

# model1.add(Conv2D(32, (3, 3)))
# model1.add(Activation('relu'))
# model1.add(MaxPooling2D(pool_size=(2, 2)))

# model1.add(Conv2D(64, (3, 3)))
# model1.add(Activation('relu'))
# model1.add(MaxPooling2D(pool_size=(2, 2)))

# model1.add(Flatten())
# model1.add(Dense(64))
# model1.add(Activation('relu'))
# model1.add(Dropout(0.5))
# model1.add(Dense(1))

# sgd = keras.optimizers.SGD(learning_rate=0.001)    
# checkpoint_cb = keras.callbacks.ModelCheckpoint("/content/drive/MyDrive/kream_data/model/img_cnn.h5")
# model1.compile(optimizer= sgd, loss=tf.keras.losses.Huber(delta=5))
# model1.fit(pixel, df['price_resell'], epochs=120, callbacks=[checkpoint_cb])

# pred1 = model1.predict(pixel)
# mse1 = mean_squared_error(pred1, df['price_resell'], squared=False) 

# mse1

In [26]:
model = keras.models.load_model("/content/drive/MyDrive/kream_data/model/img_cnn.h5") 
model.evaluate(pixel, df['price_resell'])

191/191 [==============================] - 9s 14ms/step - loss: 30.8932

30.8931884765625