<a href="https://colab.research.google.com/github/donghui-0126/mini-project/blob/main/shoes-project/resell_regressor/img_CNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install Pillow

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: Pillow in /usr/local/lib/python3.8/dist-packages (7.1.2)

In [2]:
pip install opencv-python

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: opencv-python in /usr/local/lib/python3.8/dist-packages (4.6.0.66)
Requirement already satisfied: numpy>=1.14.5 in /usr/local/lib/python3.8/dist-packages (from opencv-python) (1.21.6)

In [3]:
from PIL import Image
import cv2
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from sklearn.linear_model import LinearRegression
import warnings
from sklearn.decomposition import PCA
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error

warnings.filterwarnings('ignore')

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
df = pd.read_csv('/content/drive/MyDrive/kream_data/product_data_dpp.csv')
df.head(3)

,product_id,img_path,brand,name,color1,color2,price_og,price_resell,n_scrap,+price,tokenized_color,tokenized_bn
0,28029,crawling\product_crawling\image\28029.jpg,Nike,Nike Dunk Low Retro Black,WHITE,BLACK,129000,152800,123000.0,23800,[0 0 0 0 0 0 0 0 0 0 2 4 3 5],[ 0 0 0 0 0 0 0 0 0 0 0 0 0 2 4 ...
1,12831,crawling\product_crawling\image\12831.jpg,Nike,Nike Air Force 1 '07 Low White,WHITE,WHITE,139000,136200,151000.0,-2800,[0 0 0 0 0 0 0 0 0 0 2 4 3 4],[ 0 0 0 0 0 0 0 0 0 0 0 2 4 3 4 ...
2,21935,crawling\product_crawling\image\21935.jpg,Nike,Nike Air Force 1 '07 WB Flax,FLAX,GUM,169000,173200,69000.0,4200,[ 0 0 0 0 0 0 0 0 0 0 2 82 3 51],[ 0 0 0 0 0 0 0 0 0 ...

In [6]:
drive_img_path_list = []

for index,data in enumerate(df['img_path']):
    drive_img_path = "/content/drive/MyDrive/kream_data/image/" + (data.split("\\")[-1])
    drive_img_path_list.append(drive_img_path)

In [7]:
df["drive_img_path"] = drive_img_path_list

In [8]:
df.head()

,product_id,img_path,brand,name,color1,color2,price_og,price_resell,n_scrap,+price,tokenized_color,tokenized_bn,drive_img_path
0,28029,crawling\product_crawling\image\28029.jpg,Nike,Nike Dunk Low Retro Black,WHITE,BLACK,129000,152800,123000.0,23800,[0 0 0 0 0 0 0 0 0 0 2 4 3 5],[ 0 0 0 0 0 0 0 0 0 0 0 0 0 2 4 ...,/content/drive/MyDrive/kream_data/image/28029.jpg
1,12831,crawling\product_crawling\image\12831.jpg,Nike,Nike Air Force 1 '07 Low White,WHITE,WHITE,139000,136200,151000.0,-2800,[0 0 0 0 0 0 0 0 0 0 2 4 3 4],[ 0 0 0 0 0 0 0 0 0 0 0 2 4 3 4 ...,/content/drive/MyDrive/kream_data/image/12831.jpg
2,21935,crawling\product_crawling\image\21935.jpg,Nike,Nike Air Force 1 '07 WB Flax,FLAX,GUM,169000,173200,69000.0,4200,[ 0 0 0 0 0 0 0 0 0 0 2 82 3 51],[ 0 0 0 0 0 0 0 0 0 ...,/content/drive/MyDrive/kream_data/image/21935.jpg
3,44653,crawling\product_crawling\image\44653.jpg,Nike,Nike x Supreme Air Force 1 Low Flax,FLAX,FLAX-GUM LIGHT BROWN,184600,281400,27000.0,96800,[ 0 0 0 0 0 0 0 2 82 3 82 51 14 22],[ 0 0 0 0 0 0 0 0 0 0 2 ...,/content/drive/MyDrive/kream_data/image/44653.jpg
4,89548,crawling\product_crawling\image\89548.jpg,Nike,Nike Zoom Vomero 5 PRM Light Iron Ore and Flat...,LIGHTT IRON ORE,METALLIC SILVER,209000,258000,5810.0,49000,[ 0 0 0 0 0 0 0 2 733 116 188 ...,[ 0 0 0 0 0 0 0 2 4 ...,/content/drive/MyDrive/kream_data/image/89548.jpg

In [12]:
pixel_list = []
for n,url in enumerate(df['drive_img_path']):
    img_name = (url)
    im = Image.open(img_name)
    pix = np.array(im)

    print("\r{}".format(n), end="")

    pixel_list.append(pix)
df['pixel'] = pixel_list

6102

In [18]:
df["pixel"].head()

0    [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...
1    [[255, 255, 255, 255, 255, 255, 255, 255, 255,...
2    [[255, 255, 255, 255, 255, 255, 255, 255, 255,...
3    [[255, 255, 255, 255, 255, 255, 255, 255, 255,...
4    [[255, 255, 255, 255, 255, 255, 255, 255, 255,...
Name: pixel, dtype: object

In [21]:
df

,product_id,img_path,brand,name,color1,color2,price_og,price_resell,n_scrap,+price,tokenized_color,tokenized_bn,drive_img_path,pixel
0,28029,crawling\product_crawling\image\28029.jpg,Nike,Nike Dunk Low Retro Black,WHITE,BLACK,129000,152800,123000.0,23800,[0 0 0 0 0 0 0 0 0 0 2 4 3 5],[ 0 0 0 0 0 0 0 0 0 0 0 0 0 2 4 ...,/content/drive/MyDrive/kream_data/image/28029.jpg,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,..."
1,12831,crawling\product_crawling\image\12831.jpg,Nike,Nike Air Force 1 '07 Low White,WHITE,WHITE,139000,136200,151000.0,-2800,[0 0 0 0 0 0 0 0 0 0 2 4 3 4],[ 0 0 0 0 0 0 0 0 0 0 0 2 4 3 4 ...,/content/drive/MyDrive/kream_data/image/12831.jpg,"[[255, 255, 255, 255, 255, 255, 255, 255, 255,..."
2,21935,crawling\product_crawling\image\21935.jpg,Nike,Nike Air Force 1 '07 WB Flax,FLAX,GUM,169000,173200,69000.0,4200,[ 0 0 0 0 0 0 0 0 0 0 2 82 3 51],[ 0 0 0 0 0 0 0 0 0 ...,/content/drive/MyDrive/kream_data/image/21935.jpg,"[[255, 255, 255, 255, 255, 255, 255, 255, 255,..."
3,44653,crawling\product_crawling\image\44653.jpg,Nike,Nike x Supreme Air Force 1 Low Flax,FLAX,FLAX-GUM LIGHT BROWN,184600,281400,27000.0,96800,[ 0 0 0 0 0 0 0 2 82 3 82 51 14 22],[ 0 0 0 0 0 0 0 0 0 0 2 ...,/content/drive/MyDrive/kream_data/image/44653.jpg,"[[255, 255, 255, 255, 255, 255, 255, 255, 255,..."
4,89548,crawling\product_crawling\image\89548.jpg,Nike,Nike Zoom Vomero 5 PRM Light Iron Ore and Flat...,LIGHTT IRON ORE,METALLIC SILVER,209000,258000,5810.0,49000,[ 0 0 0 0 0 0 0 2 733 116 188 ...,[ 0 0 0 0 0 0 0 2 4 ...,/content/drive/MyDrive/kream_data/image/89548.jpg,"[[255, 255, 255, 255, 255, 255, 255, 255, 255,..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6098,26441,crawling\product_crawling\image\26441.jpg,Mihara Yasuhiro,Maison Mihara Yasuhiro OG Sole Over Dyed Lowcu...,ORANGE,white,324000,486000,85.0,162000,[ 0 0 0 0 0 0 0 0 0 0 2 18 3 4],[ 0 0 0 0 0 0 0 2 18 19 3 ...,/content/drive/MyDrive/kream_data/image/26441.jpg,"[[255, 255, 255, 255, 255, 255, 255, 255, 255,..."
6099,26410,crawling\product_crawling\image\26410.jpg,Mihara Yasuhiro,Maison Mihara Yasuhiro x Nigel Cabourn Low Cut...,INDIGO,white,355300,503600,245.0,148300,[ 0 0 0 0 0 0 0 0 0 0 2 76 3 4],[ 0 0 0 0 2 18 19 3 25 18 19 ...,/content/drive/MyDrive/kream_data/image/26410.jpg,"[[255, 255, 255, 255, 255, 255, 255, 255, 255,..."
6100,26224,crawling\product_crawling\image\26224.jpg,Mihara Yasuhiro,Maison Mihara Yasuhiro Hank OG Sole Over Dyed ...,BLACK,white,334400,450000,79.0,115600,[0 0 0 0 0 0 0 0 0 0 2 5 3 4],[ 0 0 0 0 0 0 2 18 19 3 25 ...,/content/drive/MyDrive/kream_data/image/26224.jpg,"[[255, 255, 255, 255, 255, 255, 255, 255, 255,..."
6101,25717,crawling\product_crawling\image\25717.jpg,Mihara Yasuhiro,Maison Mihara Yasuhiro Peterson OG Sole Trick ...,WHITE,white,313500,457500,295.0,144000,[0 0 0 0 0 0 0 0 0 0 2 4 3 4],[ 0 0 0 0 0 2 18 19 3 ...,/content/drive/MyDrive/kream_data/image/25717.jpg,"[[255, 255, 255, 255, 255, 255, 255, 255, 255,..."
6102,25714,crawling\product_crawling\image\25714.jpg,Mihara Yasuhiro,Maison Mihara Yasuhiro Peterson OG Sole Suede ...,WHITE,white,313500,400000,22.0,86500,[0 0 0 0 0 0 0 0 0 0 2 4 3 4],[ 0 0 0 0 0 2 18 19 3 25 18 ...,/content/drive/MyDrive/kream_data/image/25714.jpg,"[[255, 255, 255, 255, 255, 255, 255, 255, 255,..."

In [22]:
df.to_csv("/content/drive/MyDrive/kream_data/product_data_dpp.csv")

In [ ]:
CNN_model = keras.models.Sequential([
    
])