In [22]:
import pandas as pd
import numpy as np

In [23]:
df = pd.read_csv("/content/drive/MyDrive/kream_data/product_data.csv", encoding='cp949')

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6323 entries, 0 to 6322
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    6323 non-null   object
 1   img_path      6323 non-null   object
 2   brand         6323 non-null   object
 3   name          6323 non-null   object
 4   color1        6323 non-null   object
 5   color2        6323 non-null   object
 6   price_og      6323 non-null   object
 7   price_resell  6323 non-null   int64
 8   n_scrap       5507 non-null   float64
dtypes: float64(1), int64(1), object(7)
memory usage: 444.7+ KB

In [25]:
print(df['color1'].unique())
print("color1 의 고유색 개수:", df["color1"].unique().shape[0])

print(df['color2'].unique())
print("color2 의 고유색 개수:", df["color2"].unique().shape[0])

['WHITE' 'FLAX' 'LIGHTT IRON ORE' ... 'DALMATIAN' 'CHECK' 'INDIGO']
color1 의 고유색 개수: 1126
['BLACK' 'WHITE' 'GUM' ... '275500' '342000' '380000']
color2 의 고유색 개수: 2386

In [26]:
# 데이터를 살펴보다가 color가 2개가 아니라 1개인 경우를 크롤링할때 한칸씩 땡겨서 데이터가 저장됨.
# 그래서 n_scarp이 nan인 경우가 생김
# 아래는 n_scrap이 nan경우를 찾아서 컬럼값을 한칸씩 오른쪽으로 밀어주는 것이다.

nan_index = df[df.loc[:, "n_scrap"].isna()].index
print(df[df.loc[:, "n_scrap"].isna()].index)
df[df.loc[:, "n_scrap"].isna()]

Int64Index([  85,  115,  199,  205,  237,  254,  429,  455,  477,  498,
            ...
            6312, 6313, 6314, 6315, 6317, 6318, 6319, 6320, 6321, 6322],
           dtype='int64', length=816)

,product_id,img_path,brand,name,color1,color2,price_og,price_resell,n_scrap
85,78686,crawling\product_crawling\image\78686.jpg,Nike,Nike x Comme des Garcons Air Max 97 Black,BLACK,430800,245800,632,NaN
115,78687,crawling\product_crawling\image\78687.jpg,Nike,Nike x Comme des Garcons Air Max 97 Glacier Grey,GLACIER GREY,430800,260000,681,NaN
199,23464,crawling\product_crawling\image\23464.jpg,Nike,Nike x Comme des Garcons Homme Plus Air Max 95...,BLACK,419000,268800,547,NaN
205,23463,crawling\product_crawling\image\23463.jpg,Nike,Nike x Comme des Garcons Homme Plus Air Max 95...,WHITE,419000,264000,504,NaN
237,83680,crawling\product_crawling\image\83680.jpg,Nike,Nike x Supreme Air Max 98 TL Black,BLACK,206800,278600,796,NaN
...,...,...,...,...,...,...,...,...,...
6318,26441,crawling\product_crawling\image\26441.jpg,Mihara Yasuhiro,Maison Mihara Yasuhiro OG Sole Over Dyed Lowcu...,ORANGE,324000,486000,85,NaN
6319,26410,crawling\product_crawling\image\26410.jpg,Mihara Yasuhiro,Maison Mihara Yasuhiro x Nigel Cabourn Low Cut...,INDIGO,355300,503600,245,NaN
6320,26224,crawling\product_crawling\image\26224.jpg,Mihara Yasuhiro,Maison Mihara Yasuhiro Hank OG Sole Over Dyed ...,BLACK,334400,450000,79,NaN
6321,25717,crawling\product_crawling\image\25717.jpg,Mihara Yasuhiro,Maison Mihara Yasuhiro Peterson OG Sole Trick ...,WHITE,313500,457500,295,NaN
6322,25714,crawling\product_crawling\image\25714.jpg,Mihara Yasuhiro,Maison Mihara Yasuhiro Peterson OG Sole Suede ...,WHITE,313500,400000,22,NaN

In [27]:
nan_color2 = df.iloc[nan_index, 5]
nan_price_og = df.iloc[nan_index, 6]
nan_price_resell = df.iloc[nan_index, 7]
nan_n_scrap = df.iloc[nan_index, 8]

In [28]:
df.iloc[nan_index, 5] = np.nan
df.iloc[nan_index, 6] = nan_color2
df.iloc[nan_index, 7] = nan_price_og
df.iloc[nan_index, 8] = nan_price_resell

In [29]:
# price_og를 int형으로 변환키려고 함.
# 그렇게 하기 위해서는 price_og가 숫자여야하는데 아닌것들이 껴있어서 분류해줘야한다.

not_nan_price_og_index = df[df["price_og"] != "-"].index

In [30]:
df = df.iloc[not_nan_price_og_index]

In [31]:
price_og_error_list = []

for index,row in df.iterrows():
    try:
        int(row['price_og'])
    except:
        price_og_error_list.append(df[df['product_id'] ==row['product_id']].index[0])
price_og_error_list

[2794, 3011, 3889, 5027, 5289, 5349, 5769, 5790, 5794, 5804, 5823, 5824, 5836]

In [32]:
df = df.drop(price_og_error_list)

In [33]:
df['price_resell'] = df['price_resell'].astype(int)
df['price_og'] = df['price_og'].astype(int)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6103 entries, 0 to 6322
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    6103 non-null   object
 1   img_path      6103 non-null   object
 2   brand         6103 non-null   object
 3   name          6103 non-null   object
 4   color1        6103 non-null   object
 5   color2        5380 non-null   object
 6   price_og      6103 non-null   int64
 7   price_resell  6103 non-null   int64
 8   n_scrap       6103 non-null   float64
dtypes: float64(1), int64(2), object(6)
memory usage: 476.8+ KB

In [35]:
# 리셀이 얼마나 붙었는지 알 수 있도록 컬럼을 추가해준다.
df['+price'] = df['price_resell'] - df['price_og']

In [36]:
null_df = df[df['color2'].isnull()]
null_df

,product_id,img_path,brand,name,color1,color2,price_og,price_resell,n_scrap,+price
85,78686,crawling\product_crawling\image\78686.jpg,Nike,Nike x Comme des Garcons Air Max 97 Black,BLACK,NaN,430800,245800,632.0,-185000
115,78687,crawling\product_crawling\image\78687.jpg,Nike,Nike x Comme des Garcons Air Max 97 Glacier Grey,GLACIER GREY,NaN,430800,260000,681.0,-170800
199,23464,crawling\product_crawling\image\23464.jpg,Nike,Nike x Comme des Garcons Homme Plus Air Max 95...,BLACK,NaN,419000,268800,547.0,-150200
205,23463,crawling\product_crawling\image\23463.jpg,Nike,Nike x Comme des Garcons Homme Plus Air Max 95...,WHITE,NaN,419000,264000,504.0,-155000
237,83680,crawling\product_crawling\image\83680.jpg,Nike,Nike x Supreme Air Max 98 TL Black,BLACK,NaN,206800,278600,796.0,71800
...,...,...,...,...,...,...,...,...,...,...
6318,26441,crawling\product_crawling\image\26441.jpg,Mihara Yasuhiro,Maison Mihara Yasuhiro OG Sole Over Dyed Lowcu...,ORANGE,NaN,324000,486000,85.0,162000
6319,26410,crawling\product_crawling\image\26410.jpg,Mihara Yasuhiro,Maison Mihara Yasuhiro x Nigel Cabourn Low Cut...,INDIGO,NaN,355300,503600,245.0,148300
6320,26224,crawling\product_crawling\image\26224.jpg,Mihara Yasuhiro,Maison Mihara Yasuhiro Hank OG Sole Over Dyed ...,BLACK,NaN,334400,450000,79.0,115600
6321,25717,crawling\product_crawling\image\25717.jpg,Mihara Yasuhiro,Maison Mihara Yasuhiro Peterson OG Sole Trick ...,WHITE,NaN,313500,457500,295.0,144000
6322,25714,crawling\product_crawling\image\25714.jpg,Mihara Yasuhiro,Maison Mihara Yasuhiro Peterson OG Sole Suede ...,WHITE,NaN,313500,400000,22.0,86500

In [37]:
# 미하라 야시히로의 color2 == nan 인 경우에는 white로 설정해주면 될듯하다. 
null_df[null_df['brand']=='Mihara Yasuhiro'].head(3)

,product_id,img_path,brand,name,color1,color2,price_og,price_resell,n_scrap,+price
6050,46178,crawling\product_crawling\image\46178.jpg,Mihara Yasuhiro,Maison Mihara Yasuhiro Blakey OG Sole Canvas L...,BLACK,NaN,313500,547400,7385.0,233900
6051,25708,crawling\product_crawling\image\25708.jpg,Mihara Yasuhiro,Maison Mihara Yasuhiro Peterson OG Sole Canvas...,WHITE,NaN,292600,459200,2992.0,166600
6052,46177,crawling\product_crawling\image\46177.jpg,Mihara Yasuhiro,Maison Mihara Yasuhiro Blakey OG Sole Canvas L...,WHITE,NaN,313500,428400,2659.0,114900

In [38]:
df.loc[null_df[null_df['brand']=='Mihara Yasuhiro'].index, ['color2']] = 'white'

In [39]:
# 미하라 마시히로를 제외한 브랜드의 color2는 그냥 nan으로 남겨놔도 될듯하다.

In [40]:
df.loc[df['color2'].isnull(), 'color2'] = 'Nan'

In [41]:
# 이제 타입도 적절하고 null 값도 없다.
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6103 entries, 0 to 6322
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    6103 non-null   object
 1   img_path      6103 non-null   object
 2   brand         6103 non-null   object
 3   name          6103 non-null   object
 4   color1        6103 non-null   object
 5   color2        6103 non-null   object
 6   price_og      6103 non-null   int64
 7   price_resell  6103 non-null   int64
 8   n_scrap       6103 non-null   float64
 9   +price        6103 non-null   int64
dtypes: float64(1), int64(3), object(6)
memory usage: 653.5+ KB

In [42]:
df

,product_id,img_path,brand,name,color1,color2,price_og,price_resell,n_scrap,+price
0,28029,crawling\product_crawling\image\28029.jpg,Nike,Nike Dunk Low Retro Black,WHITE,BLACK,129000,152800,123000.0,23800
1,12831,crawling\product_crawling\image\12831.jpg,Nike,Nike Air Force 1 '07 Low White,WHITE,WHITE,139000,136200,151000.0,-2800
2,21935,crawling\product_crawling\image\21935.jpg,Nike,Nike Air Force 1 '07 WB Flax,FLAX,GUM,169000,173200,69000.0,4200
3,44653,crawling\product_crawling\image\44653.jpg,Nike,Nike x Supreme Air Force 1 Low Flax,FLAX,FLAX-GUM LIGHT BROWN,184600,281400,27000.0,96800
4,89548,crawling\product_crawling\image\89548.jpg,Nike,Nike Zoom Vomero 5 PRM Light Iron Ore and Flat...,LIGHTT IRON ORE,METALLIC SILVER,209000,258000,5810.0,49000
...,...,...,...,...,...,...,...,...,...,...
6318,26441,crawling\product_crawling\image\26441.jpg,Mihara Yasuhiro,Maison Mihara Yasuhiro OG Sole Over Dyed Lowcu...,ORANGE,white,324000,486000,85.0,162000
6319,26410,crawling\product_crawling\image\26410.jpg,Mihara Yasuhiro,Maison Mihara Yasuhiro x Nigel Cabourn Low Cut...,INDIGO,white,355300,503600,245.0,148300
6320,26224,crawling\product_crawling\image\26224.jpg,Mihara Yasuhiro,Maison Mihara Yasuhiro Hank OG Sole Over Dyed ...,BLACK,white,334400,450000,79.0,115600
6321,25717,crawling\product_crawling\image\25717.jpg,Mihara Yasuhiro,Maison Mihara Yasuhiro Peterson OG Sole Trick ...,WHITE,white,313500,457500,295.0,144000
6322,25714,crawling\product_crawling\image\25714.jpg,Mihara Yasuhiro,Maison Mihara Yasuhiro Peterson OG Sole Suede ...,WHITE,white,313500,400000,22.0,86500

In [44]:
df.to_csv('/content/drive/MyDrive/kream_data/product_data_dpp.csv')