# 강화학습을 사용한 비트코인 스캘핑 봇

model: PPO-lstm

dataset: 2023 upbit 1min OCHLV data 

how to make dataset?
> bitcoin_scalping_bot/upbit_data/make_dataset.ipynb

## 다음에 고쳐야하는 부분 

### 11/3

<b>보상함수 로직 수정</b>
- 시간 or 거래량에 따라서 목표한 수익을 얻도록 reward function 수정해야함
- 양의 보상이 너무 적게 나온다면 이 부분을 수정해야할 듯

In [2]:
import pandas as pd
a = [1,2,3]
b = [4,5,6]
pd.DataFrame([a,b])

   0  1  2
0  1  2  3
1  4  5  6

In [3]:
pd.DataFrame([a,b])

AttributeError: 'list' object has no attribute 'T'