In [3]:
import pandas as pd

In [4]:
df1 = pd.read_csv('202301_KRW-BTC_ohlcv.csv', index_col = 'index')
df2 = pd.read_csv('202302_KRW-BTC_ohlcv.csv', index_col = 'index')
df3 = pd.read_csv('202303_KRW-BTC_ohlcv.csv', index_col = 'index')
df4 = pd.read_csv('202304_KRW-BTC_ohlcv.csv', index_col = 'index')
df5 = pd.read_csv('202305_KRW-BTC_ohlcv.csv', index_col = 'index')
df6 = pd.read_csv('202306_KRW-BTC_ohlcv.csv', index_col = 'index')
df7 = pd.read_csv('202307_KRW-BTC_ohlcv.csv', index_col = 'index')
df8 = pd.read_csv('202308_KRW-BTC_ohlcv.csv', index_col = 'index')

In [5]:
df_2023 = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8])

In [6]:
df_2023.drop(['value'], axis=1, inplace=True)

In [7]:
df_2023['mid_price'] = df_2023['high']/2 + df_2023['low']/2

In [8]:
df_2023

,open,high,low,close,volume,mid_price
index,,,,,,
2023-01-01 09:00:00,21079000.0,21082000.0,21061000.0,21081000.0,4.852014,21071500.0
2023-01-01 09:01:00,21080000.0,21080000.0,21061000.0,21061000.0,2.099329,21070500.0
2023-01-01 09:02:00,21062000.0,21062000.0,21055000.0,21062000.0,2.486127,21058500.0
2023-01-01 09:03:00,21057000.0,21078000.0,21055000.0,21064000.0,1.744549,21066500.0
2023-01-01 09:04:00,21063000.0,21077000.0,21056000.0,21064000.0,1.433399,21066500.0
...,...,...,...,...,...,...
2023-08-31 23:55:00,37001000.0,37001000.0,36975000.0,36977000.0,2.138066,36988000.0
2023-08-31 23:56:00,36980000.0,36980000.0,36973000.0,36980000.0,1.803252,36976500.0
2023-08-31 23:57:00,36980000.0,36980000.0,36974000.0,36980000.0,2.107548,36977000.0
2023-08-31 23:58:00,36980000.0,36980000.0,36973000.0,36979000.0,1.431491,36976500.0
2023-08-31 23:59:00,36979000.0,36980000.0,36975000.0,36980000.0,1.837538,36977500.0

In [9]:
import numpy as np

x1 = np.array(df8['low'].iloc[0:-1])
x2 = np.array(df8['high'].iloc[1:])

In [10]:
(((pd.DataFrame(x2/x1 - 1)*100).sort_values(by=0, ascending=False)) > 0.11).value_counts()

False    39777
True      3994
dtype: int64

In [11]:
df_2023['pct'] = df_2023['mid_price'].pct_change()
df_2023['pct_sign'] = df_2023['pct'].apply(lambda x: 1 if x>=0 else -1)

df_2023

,open,high,low,close,volume,mid_price,pct,pct_sign
index,,,,,,,,
2023-01-01 09:00:00,21079000.0,21082000.0,21061000.0,21081000.0,4.852014,21071500.0,NaN,-1
2023-01-01 09:01:00,21080000.0,21080000.0,21061000.0,21061000.0,2.099329,21070500.0,-0.000047,-1
2023-01-01 09:02:00,21062000.0,21062000.0,21055000.0,21062000.0,2.486127,21058500.0,-0.000570,-1
2023-01-01 09:03:00,21057000.0,21078000.0,21055000.0,21064000.0,1.744549,21066500.0,0.000380,1
2023-01-01 09:04:00,21063000.0,21077000.0,21056000.0,21064000.0,1.433399,21066500.0,0.000000,1
...,...,...,...,...,...,...,...,...
2023-08-31 23:55:00,37001000.0,37001000.0,36975000.0,36977000.0,2.138066,36988000.0,-0.000324,-1
2023-08-31 23:56:00,36980000.0,36980000.0,36973000.0,36980000.0,1.803252,36976500.0,-0.000311,-1
2023-08-31 23:57:00,36980000.0,36980000.0,36974000.0,36980000.0,2.107548,36977000.0,0.000014,1
2023-08-31 23:58:00,36980000.0,36980000.0,36973000.0,36979000.0,1.431491,36976500.0,-0.000014,-1
2023-08-31 23:59:00,36979000.0,36980000.0,36975000.0,36980000.0,1.837538,36977500.0,0.000027,1

In [12]:
df_2023['pct_sign'].value_counts()

 1    182987
-1    161451
Name: pct_sign, dtype: int64

In [13]:
df_2023.to_csv("df_2023.csv")