In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('202301_KRW-BTC_ohlcv.csv', index_col = 'index')
df2 = pd.read_csv('202302_KRW-BTC_ohlcv.csv', index_col = 'index')
df3 = pd.read_csv('202303_KRW-BTC_ohlcv.csv', index_col = 'index')
df4 = pd.read_csv('202304_KRW-BTC_ohlcv.csv', index_col = 'index')
df5 = pd.read_csv('202305_KRW-BTC_ohlcv.csv', index_col = 'index')
df6 = pd.read_csv('202306_KRW-BTC_ohlcv.csv', index_col = 'index')
df7 = pd.read_csv('202307_KRW-BTC_ohlcv.csv', index_col = 'index')
df8 = pd.read_csv('202308_KRW-BTC_ohlcv.csv', index_col = 'index')

In [3]:
df_2023 = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8])

In [4]:
df_2023.drop(['value'], axis=1, inplace=True)

In [5]:
df_2023['mid_price'] = df_2023['high']/2 + df_2023['low']/2

In [6]:
df_2023.head()

,open,high,low,close,volume,mid_price
index,,,,,,
2023-01-01 09:00:00,21079000.0,21082000.0,21061000.0,21081000.0,4.852014,21071500.0
2023-01-01 09:01:00,21080000.0,21080000.0,21061000.0,21061000.0,2.099329,21070500.0
2023-01-01 09:02:00,21062000.0,21062000.0,21055000.0,21062000.0,2.486127,21058500.0
2023-01-01 09:03:00,21057000.0,21078000.0,21055000.0,21064000.0,1.744549,21066500.0
2023-01-01 09:04:00,21063000.0,21077000.0,21056000.0,21064000.0,1.433399,21066500.0

In [7]:
x1 = np.array(df8['low'].iloc[0:-1])
x2 = np.array(df8['high'].iloc[1:])

In [8]:
(((pd.DataFrame(x2/x1 - 1)*100).sort_values(by=0, ascending=False)) > 0.11).value_counts()

False    39777
True      3994
dtype: int64

In [9]:
df_2023['pct'] = df_2023['mid_price'].pct_change()
df_2023['pct_sign'] = df_2023['pct'].apply(lambda x: 1 if x>=0 else -1)

df_2023.head()

,open,high,low,close,volume,mid_price,pct,pct_sign
index,,,,,,,,
2023-01-01 09:00:00,21079000.0,21082000.0,21061000.0,21081000.0,4.852014,21071500.0,NaN,-1
2023-01-01 09:01:00,21080000.0,21080000.0,21061000.0,21061000.0,2.099329,21070500.0,-0.000047,-1
2023-01-01 09:02:00,21062000.0,21062000.0,21055000.0,21062000.0,2.486127,21058500.0,-0.000570,-1
2023-01-01 09:03:00,21057000.0,21078000.0,21055000.0,21064000.0,1.744549,21066500.0,0.000380,1
2023-01-01 09:04:00,21063000.0,21077000.0,21056000.0,21064000.0,1.433399,21066500.0,0.000000,1

In [10]:
df_2023 = df_2023.fillna(0)
df_2023.head()

,open,high,low,close,volume,mid_price,pct,pct_sign
index,,,,,,,,
2023-01-01 09:00:00,21079000.0,21082000.0,21061000.0,21081000.0,4.852014,21071500.0,0.000000,-1
2023-01-01 09:01:00,21080000.0,21080000.0,21061000.0,21061000.0,2.099329,21070500.0,-0.000047,-1
2023-01-01 09:02:00,21062000.0,21062000.0,21055000.0,21062000.0,2.486127,21058500.0,-0.000570,-1
2023-01-01 09:03:00,21057000.0,21078000.0,21055000.0,21064000.0,1.744549,21066500.0,0.000380,1
2023-01-01 09:04:00,21063000.0,21077000.0,21056000.0,21064000.0,1.433399,21066500.0,0.000000,1

In [11]:
df_2023['pct_sign'].value_counts()

 1    182987
-1    161451
Name: pct_sign, dtype: int64

In [12]:
df_2023.drop(['open', 'high', 'low', 'close'], axis=1, inplace=True)

In [13]:
df_2023.shape

(344438, 4)

In [14]:
df_2023.to_csv("df_2023.csv")

In [20]:
import numpy as np
from tqdm import tqdm

data = df_2023.drop(['mid_price'], axis=1)
sequence_length = 60
n_samples = len(data) - sequence_length + 1

# Extract the data as a NumPy array
data_array = data.to_numpy()

# Create an empty array to store the input sequences
input_sequences = np.empty((n_samples, sequence_length, data_array.shape[1] - 1))

for i in tqdm(range(n_samples)):
    input_seq = data_array[i:i + sequence_length, :-1]
    input_sequences[i] = input_seq

# Reshape the input_sequences if needed
input_sequences = input_sequences.reshape(n_samples, -1)

100%|██████████████████████████████████████████████████████████████████████| 344379/344379 [00:00<00:00, 753366.43it/s]

In [21]:
# 생성할 변수명 리스트
variable_names = []

# 60분 전부터 1분 전까지의 시간 간격
time_intervals = list(range(60, 0, -1))

for interval in time_intervals:
    # 거래량 변수명 생성
    volume_name = f'{interval}min_ago_volume'
    variable_names.append(volume_name)
    
    # 변화량 변수명 생성
    change_name = f'{interval}min_ago_change'
    variable_names.append(change_name)

In [22]:
len(variable_names), input_sequences.shape

(120, (344379, 120))

In [23]:
train_2023_data = pd.DataFrame(input_sequences, columns=variable_names, index=df_2023.iloc[59:].index)

In [24]:
train_2023_data['pct_sign'] = train_2023_data["1min_ago_change"].apply(lambda x: 1 if x>=0 else -1)
train_2023_data['mid_price'] = df_2023['mid_price'].iloc[59:]
train_2023_data.head()

,60min_ago_volume,60min_ago_change,59min_ago_volume,59min_ago_change,58min_ago_volume,58min_ago_change,57min_ago_volume,57min_ago_change,56min_ago_volume,56min_ago_change,...,4min_ago_volume,4min_ago_change,3min_ago_volume,3min_ago_change,2min_ago_volume,2min_ago_change,1min_ago_volume,1min_ago_change,pct_sign,mid_price
index,,,,,,,,,,,,,,,,,,,,,
2023-01-01 09:59:00,4.852014,0.000000,2.099329,-0.000047,2.486127,-0.000570,1.744549,0.000380,1.433399,0.000000,...,2.114237,-0.000047,7.926682,-0.000308,4.894037,0.000261,5.152585,-0.000498,-1,21092500.0
2023-01-01 10:00:00,2.099329,-0.000047,2.486127,-0.000570,1.744549,0.000380,1.433399,0.000000,1.662411,-0.000712,...,7.926682,-0.000308,4.894037,0.000261,5.152585,-0.000498,2.414464,-0.000356,-1,21085000.0
2023-01-01 10:01:00,2.486127,-0.000570,1.744549,0.000380,1.433399,0.000000,1.662411,-0.000712,3.212477,-0.000095,...,4.894037,0.000261,5.152585,-0.000498,2.414464,-0.000356,3.313988,-0.000142,-1,21082000.0
2023-01-01 10:02:00,1.744549,0.000380,1.433399,0.000000,1.662411,-0.000712,3.212477,-0.000095,2.084449,0.000143,...,5.152585,-0.000498,2.414464,-0.000356,3.313988,-0.000142,8.203873,0.000688,1,21096500.0
2023-01-01 10:03:00,1.433399,0.000000,1.662411,-0.000712,3.212477,-0.000095,2.084449,0.000143,2.954609,0.000000,...,2.414464,-0.000356,3.313988,-0.000142,8.203873,0.000688,3.391815,-0.000071,-1,21095000.0

In [59]:
train_2023_data.to_csv("train_data_2023.csv")